$lentil_yellow: #266666;
$lentil_blue: #6B0000;

@import "lentil";

body {
    background-color: #4c0000;
 	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.navbar-inner {
    background: #AD3333;
}
div.header {
	background: #6b0000;
}
